* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}
/* Cabeçalho */
header {
  background: linear-gradient(90deg, #0d3446, #2080ac);
  display: flex;
  height: 6rem;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  box-shadow: 0rem 2rem 15rem;
}

header img {
  width: 15rem;
  margin-left: 2rem;
}

nav ul {
  display: flex;
  column-gap: 1rem;
  flex-wrap: nowrap;
  flex-direction: row;
}

.botao-inscreva-se {
  background: linear-gradient(90deg, #0d3446, #2080ac);
  padding: 0.2rem 1rem;
  border-radius: 2rem;
  box-shadow: 0rem 0.3rem 5rem;
}

li a {
  text-decoration: none;
  color: white;
}

/* Sessão HERO */
.sessao-hero {
  display: flex;
  background: linear-gradient(90deg, #71adb5, #0d3446);
  color: white;
  align-content: space-between;
  align-items: center;
  padding: 3rem 3rem;
  line-height: 4.8rem;
}

.sessao-hero img {
  width: 30rem;
}

.sessao-hero p {
  line-height: 2.5rem;
}

.sessao-hero a {
  text-decoration: none;
  color: white;
  background: linear-gradient(90deg, #0d3446, #2080ac);
  border-radius: 20rem;
  padding: 0.5rem 3rem;
  line-height: 1.4rem;
  box-shadow: 0rem 0.5rem 5rem black;
  border: 1.5rem gray;
}

/* sessao beneficio */

.sessao-beneficios h3 {
  font-size: 1.5rem;
}

.sessao-beneficios p {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.sessao-beneficios {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 5.5rem;
  background: linear-gradient(90deg, #004f5a, #008a9d);
  z-index: 1rem;
  overflow: hidden; /* Se o ícone for muito grande, corta as pontas em vez de criar barra de rolagem na página */
  line-height: 1.7rem;
}

.container-titulo {
  position: relative;
  display: inline-block;
  margin: auto;
  margin-top: 4rem;
}

.texto-beneficio {
  display: inline-block;
  background: linear-gradient(90deg, #ded21e, #e88b08);
  padding: 1rem 3rem;
  border-radius: 20rem;
  color: white;
}

.coroa-beneficio {
  position: absolute;
  top: -30px;
  left: -2rem;
  width: 50px;
}

.sessao-beneficios ul {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 0rem 1.5rem;
}

.sessao-beneficios ul li {
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px); /*adiciona efeito de borrado */
  border-radius: 1.6rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1rem 1rem;
  color: white;
  line-height: 1.8rem;
}

.clique-bf1 {
  position: absolute;
  width: 15rem;
  left: 14rem;
  top: 15rem;
}

.foguete-bf2 {
  position: absolute;
  right: -2rem;
  top: -2rem;
  width: 5rem;
}

.icone-de-fundo-beneficio {
  position: absolute;
  width: 20rem;
  top: -17rem;
  right: -7rem;
  z-index: -1;
  transform: rotate(-14deg);
}

/* sessao projetos */

.sessao-projetos h3 {
  font-size: 1.5rem;
}

.sessao-projetos p {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.sessao-projetos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 5.5rem;
  background: linear-gradient(90deg, #004f5a, #008a9d);
}

.sessao-projetos ul {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 0rem 1.5rem;
}

.sessao-projetos ul li {
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px); /*adiciona efeito de borrado */
  border-radius: 1.6rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  padding: 1rem 1rem;
  line-height: 1.8rem;
}

.h2-sessao-projetos {
  margin: auto;
  margin-top: 3rem;
  color: white;
  background: linear-gradient(90deg, #a310b1, #ff00a6);
  padding: 1rem 3rem;
  border-radius: 20rem;
}

.raio-do-projeto1 {
  position: absolute;
  width: 10rem;
  top: 15rem;
  left: 19rem;
}
