* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}
/* Cabeçalho */
header {
  background: linear-gradient(90deg, #0d3446, #2080ac);
  display: flex;
  height: 6rem;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  box-shadow: 0rem 2rem 15rem;
}

header img {
  width: 15rem;
  margin-left: 2rem;
}

nav ul {
  display: flex;
  column-gap: 1rem;
  flex-wrap: nowrap;
  flex-direction: row;
}

.botao-inscreva-se {
  background: linear-gradient(90deg, #0d3446, #2080ac);
  padding: 0.2rem 1rem;
  border-radius: 2rem;
  box-shadow: 0rem 0.3rem 5rem;
}

li a {
  text-decoration: none;
  color: white;
}

/* Sessão HERO */
.sessao-hero {
  display: flex;
  background: linear-gradient(90deg, #71adb5, #0d3446);
  color: white;
  align-content: space-between;
  align-items: center;
  padding: 3rem 3rem;
  line-height: 4.8rem;
}

.sessao-hero img {
  width: 30rem;
}

.sessao-hero p {
  line-height: 2.5rem;
}

.sessao-hero a {
  text-decoration: none;
  color: white;
  background: linear-gradient(90deg, #0d3446, #2080ac);
  border-radius: 20rem;
  padding: 0.5rem 3rem;
  line-height: 1.4rem;
  box-shadow: 0rem 1.3rem 8rem black;
  border: 1.5rem gray;
}
